@model ehaiker.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <title>游戏分享平台-数据分享平台-ehaiker官网</title>
    <meta name="keywords" content="游戏分享平台,数据分享平台" />
    <meta name="description" content="ehaiker是一个网络游戏分享平台，通过对游戏进行多维度的数据分析，让用户能在充分了解游戏过程中的难点与收益时效，为用户的“投资决策”提供必要的数据解决方案." />
    <link rel="stylesheet" href="../css/common.min.css" />
    <link rel="stylesheet" href="../css/Login/home-page.min.css" />
    <!--jquery-->
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="../js/AdminLogin.js"></script>
    <!--QQ-第三方登录---->
    <script type="text/javascript"
            src="../js/DaojishiPlug.js"></script>
</head>
<body>
	
	<div class="page-body">
		<div id="left-right-layout">
			<!-- 区域顶部-->
			<div class="block-top"></div>

			<!-- 区域主侧 -->
			<div class="block-main">
		<div class="index-login">
        <div class="customer-nav-href size-18"><span class="bottom-border nav-3f3f4d">管理员登录</span></div>
			<div class="index-login-bg"></div>
            <form id="loginform" class="uloginForm ulogin-form">
                @Html.AntiForgeryToken()
                <div class="unlogin-box">
                    <span class="login-error error-text"></span>
                    <label class="login-input clear-fix focus-style">
                        <span class="left-pic left-pic-01"></span>
                        <input class="input-text" id="account" type="text" name="account" placeholder="请输入邮箱/ID/手机号" value="">
                    </label>
                    <label class="login-input clear-fix">
                        <span class="left-pic left-pic-02"></span>
                        <input class="input-text" id="password" type="password" name="password" placeholder="请输入密码" value="">
                    </label>
                    <label class="login-input clear-fix">
                        <span class="left-pic left-pic-03"></span>
                        <input class="input-text width-yzm" id="code" type="text" name="code" placeholder="5位验证码" value="">
                        <span class="error-text02"></span>
                        <a class="yzm-pic" style="display:none;"><img class="J_validate_code" id="J_validate_code" src="/Account/GetValidateCode" width="88" height="32"></a>
                    </label>
                    <label class="auto-login-box clear-fix ">
                        <a class="forget-password" href="/ServicesCenter/ManageForgetPassword" title="">忘记密码?</a>
                    </label>
                    <div class=" clear-fix focus-style">
                        <a id="btnsubmit" class="login-btn" href="javascript:void(0);" title="">登 录</a>
                    </div>
                    
                </div>
               
               
            </form></div>
	</div>

			<!-- 区域右侧 -->
			<div class="block-right"></div>

			<!-- 区域底部 -->
			<div class="block-bottom"></div>
		</div>
	</div>
	

  
  <!-- 底部区域 -->

</body>
</html>
