@{
    Layout = "_MemberShipLayout";
    ViewBag.Title = "UserInfo";
}
@model ehaiker.Models.MemberShip
<link rel="stylesheet" href="/css/personal/home-page.min.css" /> <!--主体样式应用-->
<link rel="stylesheet" href="/css/CommonDialog.css" />
<script type="text/javascript" src="/js/CommonDialog.js"></script>
<style>
    .Img-p{float:left;
         width:200px;
         height:200px;
         overflow:hidden;
         background-color:Green;
          margin-top:0px;
          position:relative;
    }
    p
    {
        height:30px;
        margin-top:5px;
    }
   .action-btn
  {
    width:120px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    height:30px;
    font-size:18px;
    text-align:center;
  }
 .action-btn:hover
{
   box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
 .wrap
 {
    width:450px;
	border: 0 none;
	border-radius: 2px;
	height:250px;
     }
</style>
<div>
    <form method="post" enctype="multipart/form-data">
        <div class="wrap">
            <p style="height:24px;margin-bottom:0px;">用户头像(点击下方上传): </p>
            <p class="Img-p">
                <input type="file" name="fileToUpload" id="fileToUpload" style="opacity:0;width:200px;height:200px;position:absolute;top:0;left:0" />
                <img src=@Model.Icon id="imgshow" /></img>
            </p>
            <p>用户昵称: <input type="text" readonly=true value=@Model.UserName /></p>
            <p>用 户标识: <input type="text" readonly=true value=@Model.UserGuid /></p>
            <p>签到次数: <input type="text" readonly=true value=@Model.SignCount /></p>
            <p>手机号码: <input type="text" value=@Model.MobilePhone /></p>
            <p>          <input type="button" value="修改头像" class="action-btn" /></p>
        </div>
        
    </form>
   </div>
    <script src="../Scripts/personalInfo_upload.js"></script>
