
@{
    ViewData["Title"] = "新的游戏攻略";
    var types = ViewBag.Types as IEnumerable<SelectListItem>;
}
@model ehaikerv202010.Models.GameStrategiesModel
<header>
<link rel="stylesheet" href="../css/websitebase.css" /><!--基本样式应用-->
<link rel="stylesheet" href="../css/common.min.css" /><!--菜单与悬浮样式应用-->
<link rel="stylesheet" href="../css/icon.min.css" />
<link rel="stylesheet" href="../css/personal/home-page.min.css" /> <!--主体样式应用-->
<script src="../js/jquery.min.js"></script>
<script src="../Scripts/MyStrategies_add.js"></script>
<script src="../../plugins/tinymce/tinymce.min.js"></script>
<link rel="stylesheet" href="../css/CommonDialog.css" />
    <script type="text/javascript" src="../js/CommonDialog.js"></script>
<script>
  tinymce.init({
				selector: '#idContent',
				language: 'zh_CN',
				directionality: 'ltr',
				browser_spellcheck: true,
				contextmenu: false,
				plugins: [
					"advlist autolink lists link image charmap print preview anchor",
					"searchreplace visualblocks code fullscreen",
					"insertdatetime media table contextmenu paste imagetools wordcount",
					"code"
				],
				toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code",

  });
</script>
</header>
    <div  style="margin-top:10px;margin-bottom:10px;">
        <div class="box-wrap">
            <div class="login-input clear-fix focus-style">
			<span class="Title">标题：</span>
			<input id="idTitle" name="idTitle" class="input-text" type="text" placeholder="请输入标题，不超过255个字符" style="width:100%;" />
			</div>
            <div class=" form-group">
               <span style="font-size:24px;">请在下面输入内容(1024)：</span><br />
                <textarea id="idContent" cols="10" rows="50" ></textarea>
            </div>
            <div class=" form-group">
                <span class="Title">游戏类型：</span>@Html.DropDownList("Types", ViewData["Types"] as SelectList, "--请选择--", new { @class = "SelectList" })
            </div>
            <hr />
             <div class="login-btn"><a id="personal-shiwan-add-btn" href="javascript:void(0)" title="">立即提交</a></div>
        </div>
    </div>

