<div class="footer-box">
  <div class="width-1180">
    <p class="p-link">
      <a href="/AboutMe/forjob.html" target="_blank" rel="nofollow">关于站长</a>
      <a href="/AboutMe/forjob.html" target="_blank">联系站长</a>
      <a href="#" target="_blank" rel="nofollow">广告合作</a>
    </p>
  </div>
</div>

<!--统计页底-->
<div style="display:none;">
	
	<script type="text/javascript" src="//js.users.51.la/19883215.js"></script>
</div>