@{
    ViewBag.Title = "密码重设";
}
<script src="../js/ServicesCenter/memberfogetpassword.js"></script>
<link rel="stylesheet" href="../css/ServicesCenter/memberforgetpassword.css" />
<link rel="stylesheet" href="../css/CommonDialog.css" />
<script type="text/javascript" src="../js/CommonDialog.js"></script>
<script type="text/javascript" src="../js/DaojishiPlug.js"></script>
<div class="page-body">
    <div id="left-right-layout">
        <!-- 区域顶部-->
        <div class="block-top"></div>

        <!-- 区域主侧 -->
        <div class="block-main">
            <form class="Forget-form  clear-fix">
                <div class="input-block clear-fix">
                    <span class="input-title">Mobile Number:</span><input id="mobile" name="mobile" class="input-text" type="text" placeholder="请输入手机号码" />
                    <span class="error-text"></span>
                </div>

                <div class="input-block clear-fix">
                    <span class="input-title">Validate Code:</span>
                    <input name="mobileCode" id="mobileCode" class="input-text" type="text" placeholder="请输入右边5位验证码" />
                    <span class="yanzhengma-block">
                        <img class="yzm-pic" src="" width="88" height="32" alt="" />
                    </span>
                </div>
                <div class="input-block clear-fix">
                    <span class="input-title">Phone SMS Code</span>
                    <input id="mobileSms" name="mobileSms" class="input-text" type="text" placeholder="请输入短信验证码" />
                    <span data-time="60" class="sms-btn" id="sms-tbtn">获取验证码</span>
                </div>
                <div class="input-block" style="margin-bottom:5px;margin-top:5px;">
                    <a class="href-btn" id="J_mobileForget-btn" href="javascript:void(0)" title="">立即找回</a>
                    <a class="help-btn" href="#" target="_blank">遇到问题？</a>
                </div>

            </form>
        </div><!--block_main-->
        <!-- 区域右侧 -->
        <div class="block-right"></div>

        <!-- 区域底部 -->
        <div class="block-bottom"></div>
    </div>
</div>
