@model ehaiker.Auth.GroupPermissionBinder

@{
    Layout = "_ManagerTop";
    ViewData["Title"] = "Edit";
    var types = ViewBag.Types as IEnumerable<SelectListItem>;
}


<h4>GroupPermissionBinder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" onsubmit="return GetPermissions();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ControllerNo" class="control-label"></label>
                <input asp-for="ControllerNo" class="form-control" />
                <span asp-validation-for="ControllerNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnPermissions" class="control-label"></label>
                <input asp-for="OwnPermissions" class="form-control" />
                <span asp-validation-for="OwnPermissions" class="text-danger"></span>
                <table>
                    @foreach (var item in types)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="permissions" value='@item.Value' /><span>@item.Text</span>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="保存"  class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>
<script>
    function GetPermissions() {
        obj = document.getElementsByName("permissions");
        check_val = [];
        for (k in obj) {
            if (obj[k].checked)
                check_val.push(obj[k].value);
        }
        
        obj1 = document.getElementById("OwnPermissions");
        obj1.value = check_val;
        alert(check_val);
        return true;
    }
</script>

