
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../../Content/themes/default/easyui.css" />
    @*<link rel="stylesheet" type="text/css" href="../../Content/themes/black/easyui.css"/>*@
    <link rel="stylesheet" type="text/css" href="../../Content/themes/icon.css" />
    <script charset=utf-8 language=javascript src="../common/js/jquery.min.js"></script>
    <script charset=utf-8 language=javascript src="../../Scripts/EASYUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../Content/themes/locale/easyui-lang-zh_CN.js"></script>
    <script language=javascript charset=utf-8 src="../../common/js/Adminuser.js"></script>
    <link rel="stylesheet" href="../common/css/CommonDialog.css" />
    <script type="text/javascript" src="../common/js/CommonDialog.js"></script>
</head>
<body>
    <div id="tool">
        <a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
        <a id="btnDelete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
        <a id="btnEditPwd" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改密码</a>
        <a id="btnEditGroup" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">分配管理组</a>
        <input id="tb" type="text" style="width:300px">
    </div>
    <table id="AdminGrid"></table>
    <div id="ddAdd" style="display:none">
        <div style="width:250px; margin:auto;">
            <p>用户名：<input class="easyui-textbox" style="width:200px" id="username"></p>
            <p>密    码：<input class="easyui-textbox" style="width:200px" id="userpwd"></p>
            <a id="btnAdduser" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
        </div>

    </div>
    <div id="ddEdit" style="display:none">
        <div style="width:250px; margin:auto;">
            <p>用户名：<input class="easyui-textbox" style="width:200px" id="edusername"></p>
            <p>管理组：<select id="roleList" class="easyui-combobox"></select></p>
            <a id="btnEditSave" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
        </div>

    </div>
    <div id="ddrestpwd" style="display:none">
        <div style="width:250px; margin:auto;">
            <p>新密码：<input class="easyui-textbox" style="width:200px" id="newpwd"></p>
            <a id="btnReset" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
        </div>

    </div>
</body>
</html>
