
 #left-right-layout .block-main{position:relative;z-index:10;}
 .block-main .article-header{margin-top:15px;margin-bottom:15px;text-align:center}
 .article-header .article-info{margin-top:15px;margin-bottom:15px;text-align:center;}
 .article-header .article-title{margin-top:0px; margin-bottom:10px; font-size:26px;}
 .block-main .article-content{margin-top:15px;float:left;background-color:gray;z-index:100;width:99%;}
 .article-content .article-progra{ line-height: 2.5em;font-size:16px;text-indent:30px;}
 .block-main .article-copyright{margin-top:15px;float:left;background-color:white;z-index:100;width:99%; text-align:right;}
 .datagrid-toolbar .datafrid-pager{border:0px;background:#ffffff;}
 li>a{line-height:2em;font-size:14px;}
.lisearch {
    float:right;
}
li > input {
    line-height: 2em;
    font-size: 14px;
    justify-content:center;
    margin-top:5px;
}