#left-right-layout .block-main{position:relative;z-index:10;}
 .block-main .article-header{margin-top:15px;margin-bottom:15px;text-align:center}
 .article-header .article-info{margin-top:15px;margin-bottom:15px;text-align:center;}
 .article-header .article-title{margin-top:0px; margin-bottom:10px; font-size:26px;}
 .block-main .article-content{margin-top:15px;float:left;background-color:gray;z-index:100;width:99%;}
 .block-main .article-copyright{margin-top:15px;float:left;background-color:white;z-index:100;width:99%; text-align:right;}
 
 .channel-box{padding:17px 15px 0;margin:0 0 20px;background-color:#f4f5f9;*padding-bottom:15px;position:relative}
 .opacity{background-color:#000;opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);z-index:-1}
 .channel-box .box-title{height:38px;line-height:38px}
 .box-title .title-icon{float:left;width:5px;height:24px;background:#31c37c;margin:8px 0 0}
 .box-title h3{font-size:24px;color:#3f3f4d;line-height:38px;float:left;margin:0 20px 0 6px}
 
 .channel-box .slide-info-box{float:left;height:43px;overflow:hidden;margin-top:5px}
 .box-content .link-list li a,.channel-box .slide-info li{color:#576077}
 .share-content li a{color:#576077}
 .channel-box .slide-info li .u-name{margin:0 12px 0 0}
 .channel-box .slide-info li .g-name{color:#31c37c;margin:0 8px 0 0}
 .channel-box .slide-info li .tx-yuan,.p2p-list .cover .info em{color:#ff4c4c}
 .channel-box .yg-box{width:302px;height:36px;line-height:36px;float:right;position:relative;z-index:10}
 
 /*subTitle*/
 .channel-box .subTitle{font-size:16px;color:#3f3f4d;line-height:38px;float:left;margin:0 20px 0 6px}
 
 
 a, b, body, button, dd, div, dl, em, footer, form, h1, h2, h3, h4, h5, h6, i, input, label, li, nav, p, select, span, td, textarea, u, ul {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}
 .resume {
    padding: 28px 0;
    background-color: #fff;
    margin-right: 230px;
}
  .resume .update-time {
    font-size: 12px;
    line-height: 17px;
    color: #9fa3b0;
    padding: 0 40px 10px;
}

#resume-userinfo {
    margin-bottom: 10px;
}
#resume-userinfo .userinfo-con {
    display: inline-block;
    max-width: 750px;
    padding: 10px;
}
#resume-userinfo .name {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}
#resume-userinfo .info-labels {
    position: relative;
    padding-top: 20px;
}
#resume-userinfo .info-labels .label-text {
    display: inline-block;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
}
.vline {
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background: #e0e0e0;
    margin: 0 10px;
}
.title-icon{float:left;width:5px;height:24px;background:#31c37c;margin:21px 0 0}
#resume-userinfo .row-contact {
    margin-top: 11px;
}
.resume-item .figure {
    float:right;
    right: 0;
    top: 10px;
    width: 140px;
    height:170px;
    margin-bottom: 0;
    overflow:hidden;
}
.resume-item .item-primary {
    padding: 0 30px;
    position: relative;
}
#resume-userinfo .item-primary {
    margin-right: 40px;
    height:170px;
}
#resume-summary {
    padding-bottom: 12px;
}
.resume-item .item-primary {
    padding: 0 30px;
    position: relative;
}
.resume-item .title {
    margin-right: 60px;
    border-top: 1px #f2f3f3 solid;
    color: #24272e;
    font-size: 18px;
    line-height: 25px;
    padding: 20px 0 8px 13px;
    font-weight: 400;
    position: relative;
}
.resume-item .text {
    color: #61687c;
    line-height: 25px;
    word-break: break-all;
    word-wrap: break-word;
    padding-top: 10px;
}
#resume-summary .text {
    position: relative;
    padding: 7px 60px 8px 24px;
    cursor: pointer;
}
li .item-name {
    overflow: hidden;
    line-height: 21px;
    padding-right: 60px;
    margin-bottom: 7px;
}